/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button_orange{
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#F08861;
    color: black;
    text-decoration: none;
  }

.button_bleu{
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#2F76BA;
    color: white;
    text-decoration: none;
    }

.button_rose{
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#F19DCD;
    color: black;
    text-decoration: none;
    }

.button_noir{
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#0C0B22;
    text-decoration: none;
    color: white;
    }

.button_jaune{
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#FAD24C;
    color: black;
    text-decoration: none;
    }

/*.bouton-profil-menu{
    padding: 1em 4.7em;
    border: 0.09em solid #F1F1F1;
    border-radius: 40px;
    background: white;
    color: black;
    box-shadow: 0px 5px 7px #C4C4C4;
    }*/

.bouton_profil {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.9em 3.625em;
  border: 0.09em solid #F1F1F1;
  border-radius: 30px;
  background: white;
  color: black;
  box-shadow: 0px 5px 7px #C4C4C4;
}

#bouton_profil_container {
  max-width: 70px;
  border-radius: 1px black solid;
  overflow: hidden;
}

.bouton_profil img {

}


.bouton_profil span {

}

.bouton_profil {

}
