/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button_orange {
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#F08861;
    color: black;
    text-decoration: none;
  }

.button_bleu {
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#2F76BA;
    color: white;
    text-decoration: none;
    }

.button_rose {
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#F19DCD;
    color: black;
    text-decoration: none;
  }

.button_noir {
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#0C0B22;
    text-decoration: none;
    color: white;
  }

.button_jaune {
    padding: 0.25em 1.8em;
    border: 0.09em solid black;
    border-radius: 20px;
    background:#FAD24C;
    color: black;
    text-decoration: none;
  }

.button_blanc {
    padding: 0.25em 1.8em;
    border: 0.09em solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
  }

  .button_blanc_clic {
      padding: 0.25em 1.8em;
      border: 0.09em solid white;
      border-radius: 20px;
      color: black;
      background: white;
      text-decoration: none;
    }

  .button_blanc_clicbleu {
      padding: 0.25em 1.8em;
      border: 0.09em solid white;
      border-radius: 20px;
      color:#1867F2;
      background: white;
      text-decoration: none;
    }

.bouton_profil {
  display: flex;
  align-items: center;
  padding;
  border: 0.09em solid #F1F1F1;
  border-radius: 60px;
  background: white;
  color: black;
  box-shadow: 0px 5px 7px #C4C4C4;
  width: 100%;
}

.bouton_profil_container {
  width: 50px;
  border-radius: 60px;
  overflow: hidden;
  margin: 0.3em;
}

.bouton_profil img {

}


.bouton_profil span {
margin-left: 15%;
}

.bouton_profil {

}
