.ill_liste_article {
border-radius: 2em;
overflow: hidden;
margin-left: auto;
margin-right: auto;
flex-basis: 250px;
max-width: 500px;
max-height: 500px;
}

figure.ill_liste_article img{
  height: 250px;
  object-fit:cover;
}

.bloc-article{

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  height: 600px;
}

.ill_liste_article:hover{
opacity: 0.5;
    transition: all 0.4s ease-in;
}

.orange:hover{
  background-color: rgba(252, 144, 83, 0.8);
    transition: all 0.4s ease-in;
}

.jaune:hover{
  background-color: rgba(249, 235, 72, 0.8);
    transition: all 0.4s ease-in;
}

.rose:hover{
  background-color: rgba(241, 157, 205, 0.8);
    transition: all 0.4s ease-in;
}

.description{
padding: 1.5em;
margin-top: -1em;
text-align: left;
}

.suggestions{
  display: flex;
  flex-direction: row;
}

.figure-suggestion{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  max-width: 285px;
}

.suggestion-info{
  display: block;
  margin-left: 5%;
}

.image1-article{
  max-width: 470px;
  border-radius: 600px;
}

.image1-equipe{
  width: 150px;
  border-radius: 600px;
}

.article-info{
  display: block;
  margin-left: 5%;
}

.presentation_article{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.presentation_equipe{
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  
}

h6{
  margin-top: -0.6em;
}

h4{
  padding-left: 0.7em;
}

button{
margin-top: 2em;
margin-left: auto;
margin-right: auto;
}

p{
  margin-right: 0.7em;
}

#equipe-audrey {
position: absolute;
height: 190px;
width: 190px;
left: 593px;
top: 248px;
border-radius: 100px;
}
#profil-description {
  height: 190px;
  width: 190px;
  right: 593px;
  top: 248px;
}








/* contact */

#contact{
  text-align: center;
  margin-bottom: 1em;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #F9EB48;

  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #F19DCD;
}

/* Add a background color and some padding around the form */
.container {
margin-right: auto;
margin-left: auto;
  width: 50%;
  border-radius: 5px;
  background-color: #1867F2;
  padding: 20px;
    margin-bottom: 5em;
}

.gauche {
display: flex;
align-items: center;
}
.droite {
display: flex;
align-items: center;
justify-content: flex-end;
}
#f1 {
  transition: transform .7s ease-in-out;
  cursor: pointer;
}

#f1:hover {
  transform: rotate(360deg);
}
#f2 {
  transition: transform .7s ease-in-out;
  cursor: pointer;
}

#f2:hover {
  transform: rotate(-180deg);
}
