.ill_liste_article {
border-radius: 2em;
overflow: hidden;
margin-left: auto;
margin-right: auto;
}

.bloc-article{
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  height: 600px;
}

.ill_liste_article:hover{
opacity: 0.5;
    transition: all 0.4s ease-in;
}

#orange:hover{
  background-color: rgba(252, 144, 83, 0.8);
    transition: all 0.4s ease-in;
}

#jaune:hover{
  background-color: rgba(249, 235, 72, 0.8);
    transition: all 0.4s ease-in;
}

#rose:hover{
  background-color: rgba(241, 157, 205, 0.8);
    transition: all 0.4s ease-in;
}

.description{
padding: 1.5em;
margin-top: -1em;
text-align: left;
}

.suggestions{
  display: flex;
  flex-direction: row;
}

.figure-suggestion{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  max-width: 285px;
}

.suggestion-info{
  display: block;
  margin-left: 5%;
}

.image1-article{
  max-width: 470px;
    border-radius: 30px;
}

.article-info{
  display: block;
  margin-left: 5%;
}

.presentation_article{
  display: flex;
  flex-direction: row;
}

h6{
  margin-top: -0.6em;
}

h4{
  padding-left: 0.7em;
}

button{
margin-top: 2em;
margin-left: auto;
margin-right: auto;
}

p{
  margin-right: 0.7em;
}

#equipe-audrey {
position: absolute;
height: 190px;
width: 190px;
left: 593px;
top: 248px;
border-radius: 100px;
}
#profil-description {
  height: 190px;
  width: 190px;
  right: 593px;
  top: 248px;
}
.container-equipe  {

}

.overlay {
  position: absolute;
  height: 190px;
  width: 190px;
  left: 593px;
  top: 248px;
  bottom: 0;
  border-radius: 100px;
  opacity: 0;
  transition: .5s ease;
  background-color: orange;
}
.container-equipe:hover .overlay {
  opacity: 3;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.description-audrey {
  position: absolute;
 left: 800px;
 top: 270px;
}
