header{
  background-color: #F19DCD;
}

.titre-equipe{
  background-color: #FC9053;
}

.article-info{
  letter-spacing: 0.02em;
}

.article-info a{
font-family: "degular display", sans-serif;
}

.article-info a:hover{
color: rgb(249, 235, 72);
font-style: italic;
}



.grid{
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  column-gap: 2em;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em;
}

.un{
  grid-column-start: 2;
  grid-column-end: 3;
}

.deux{
  grid-column-start: 1;
  grid-column-end: 2;
}

@media (max-width: 1000px) {
  .grid{
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    column-gap: 0em;
    padding-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .un{
    grid-column-start: 0;
    grid-column-end: 3;
  }

  .deux{
    grid-column-start: 0;
    grid-column-end: 3;
  }

}

.titre-ecole{
  background-color: #F19DCD;
    padding-bottom: 2em;
}

.container-equipe  {

}

.overlay {
  position: absolute;
  border-radius: 100px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(24, 103, 242, 0.6);
}
.container-equipe:hover .overlay {
  opacity: 3;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.description-audrey {
  position: absolute;
 left: 800px;
 top: 270px;
}

.titre-equipe h1{
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
  color: #FC9053 ;
}

.titre-ecole h1{
  text-align: center;
  padding-top: 1em;
  color: white;
}

.titre-ecole{
  text-align: center;
  color: white;
padding-right: 15%;
padding-left: 15%;
}

#ecv{
  color: #1867F2;
  font-style: italic;
}

.titre-ecole p, .titre-ecole h5{
  color: #1867F2;
}
