.titre-equipe{
  background-color: #F9EB48;
}

.titre-ecole{
  background-color: #F19DCD;
    padding-bottom: 2em;
}

.container-equipe  {

}

.overlay {
  position: absolute;
  height: 190px;
  width: 190px;
  left: 593px;
  top: 248px;
  bottom: 0;
  border-radius: 100px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(24, 103, 242, 0.6);
}
.container-equipe:hover .overlay {
  opacity: 3;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.description-audrey {
  position: absolute;
 left: 800px;
 top: 270px;
}

.titre-equipe h1{
  text-align: center;
  padding-top: 1em;
}

.titre-ecole h1{
  text-align: center;
  padding-top: 1em;
  color: white;
}

.titre-ecole{
  text-align: center;
  color: white;
padding-right: 15%;
padding-left: 15%;
}

#ecv{
  color: #1867F2;
  font-style: italic;
}

.titre-ecole p, .titre-ecole h5{
  color: #1867F2;
}
