footer {
  position: relative;
  text-align: center;
  bottom:0;
  left:0;
  width:100%;
  min-height: 550px;
  background: black;
  padding-top: 75px;
}

.mots-clef {
  display: flex;
  flex-wrap: wrap;
  max-width: center;
  padding-right: 220px;
  padding-left: 220px;
  padding-top: 60px;
  padding-bottom: 60px;

}

.mots-clef a {
  margin : 0.5em;
}

.texteblanc {
  color: white;
}
