footer {
  position: relative;
  text-align: center;
  bottom:0;
  left:0;
  width:100%;
  min-height: 480px;
  background: black;
  padding-top: 75px;
}

.mots-clef {
  display: flex;
  flex-wrap: wrap;
  padding-right: 220px;
  padding-left: 220px;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
    }

.footer-section {
    display: flex;
    justify-content: center;
}

.mots-clef a {
  margin : 0.5em;
}

.texteblanc {
  color: white;
  letter-spacing: 0.035em;
  font-weight: 500;
}


@media (min-width: 600px) and (max-width: 1200px) {

  footer {
    position: relative;
    text-align: center;
    bottom:0;
    left:0;
    width:100%;
    background: black;
    padding-top: 75px;
  }

  .mots-clef {
    display: flex;
    flex-wrap: wrap;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .footer-section{
      display: flex;
      flex-direction: column;
  }

}


@media (max-width: 600px) {

  footer {
    position: relative;
    text-align: center;
    bottom:0;
    left:0;
    width:100%;
    background: black;
    padding-top: 75px;
  }

  .mots-clef {
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .footer-section{
      display: flex;
      flex-direction: column;
  }

    }
