/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

  /* Layouts
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.episodes{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6);
  display: grid;
  padding: 3em;
  column-gap: 2em;
  row-gap: 3em;
}

.bloc-article{
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.web-talk {
    max-width: 40%;
    height: auto;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.article-texte{
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  column-gap: 3em;
}

@media (max-width: 800px) {

  .article-texte{
    grid-template-columns: repeat(1, 1fr);
    display: block;
    padding: 4em;
  }

  .episodes{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    padding: 4em;
    column-gap: 3em;
  }

  .web-talk {
      max-width: 70%;
  }
  }

.presentation_article{
  grid-column-start: 2;
  grid-column-end: 6;
  margin-bottom: 3em;
}

.article-texte-gauche{
  grid-column-start: 2;
  grid-column-end: 4;
}

.article-texte-droite{
  grid-column-start: 4;
  grid-column-end: 6;
}

.suite{
  display: flex;
}

figure{
  justify-self:end;
}
