/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

  /* Layouts
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.episodes{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6);
  display: grid;
  padding: 3em;
  column-gap: 2em;
  row-gap: 3em;
}

.bloc-article{
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.web-talk {
    max-width: 40%;
    height: auto;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.article-texte{
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  column-gap: 3em;
}


.presentation_article{
  grid-column-start: 2;
  grid-column-end: 6;
  margin-bottom: 3em;
}

.article-texte-gauche{
  grid-column-start: 2;
  grid-column-end: 4;
}

.article-texte-droite{
  grid-column-start: 4;
  grid-column-end: 6;
}

.suite{
  display: flex;
grid-gap: 1em;
}

.ill_secondaire_article{
  grid-column-start: 5;
  grid-column-end: 6;
}

figure{
  justify-self:end;
}

.bandfilter{
background-color: #1867F2;
font-family: "degular display", sans-serif;
text-decoration: none;
position: relative;
text-align: center;

}

.next{
background-color: #F19DCD;
padding: 1em;
font-family: "degular display", sans-serif;
font-size: 23px;
font-weight: 700;
letter-spacing: 0.025em;
text-decoration: none;
margin-top: 2em;
}

.next li{
  list-style: none;
}

.next a{
  color: #1867F2;
}

.next a:hover{
  text-decoration: underline;
}

.next ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  margin-right: 4em;
  margin-left: 4em;
}

.next img{
  width: 80px;
}


#f1{
  -webkit-transform: rotate(180deg);
}

.f1 {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {

  .article-texte{
    grid-template-columns: repeat(1, 1fr);
    display: block;
    padding: 4em;
  }

  .episodes{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    padding: 4em;
    column-gap: 3em;
  }

  .web-talk {
      max-width: 70%;
  }

  .next{
    font-size: 18px;
  }

  .next img{
    width: 40px;
  }

  .next ul{
    margin-right: 0em;
    margin-left: 0em;
  }
  .presentation_article{
display: block;
  }
  }

  @media (max-width: 800px) {
    .episodes{
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      padding: 5em;
      column-gap: 2em;
    }
  .episode h4{
    font-size: 20px;
  }
  }

@media (max-width: 600px) {
  .episodes{
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    padding: 7em;
    column-gap: 3em;
  }
.episode h4{
  font-size: 20px;
}
}
