

@media (max-width: 800px) {

}
      #article-home{
        text-decoration: underline;
      }

      #main-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        background-color: rgb(249, 235, 72);
        overflow-x: hidden;
        transition: 0.5s;
      }

      .main-menu-content {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #main-menu:target {
         width: 80%;
      }

      #menu-open,
      #menu-close {
        position: absolute;
        top : 3em;
        right : 3em;
      }

      #menu-open span,
      #menu-open::before,
      #menu-open::after,
      #menu-close span,
      #menu-close::before {
        display: block;
        width: 30px;
        height : 5px;
        background: #1867F2;
        border-radius: 5px;
        position: relative;
        margin-bottom: 5px;
        margin-top: 5px;
        transition: all 1s ease;
      }

      #menu-open::before,
      #menu-open::after,
      #menu-close::before {
        content : " ";
      }

      #menu-close::before {
        transform: rotate(45deg) translateY(300%);
        transform-origin: center;
      }

      #menu-close span {
        transform: rotate(-45deg) translateX(-7px) translateY(-7px);
        transform-origin: center;
      }

      #menu-open:active span {
        transform: rotate(-45deg) translateX(-7px) translateY(-7px);
        transform-origin: center;
      }

      #menu-close:active::before {
        transform: rotate(45deg) translateY(300%);
        transform-origin: center;
      }

      .main-menu-content li a {
        font-family: "degular display", sans-serif;
        font-size: 27px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: black;
        text-decoration: none;
}

.main-menu-content ul {
list-style: none;
}
